.btnAdopt {
  font-size: 2rem !important;
  background-color: 'black' !important;
  border-radius: '60px'!important;
  margin-top: '1em' !important;
  padding: '1em 3.2em' !important; 
  border: '0' !important;
  font-family: 'Montserrat' !important;
  font-weight: 700 !important;
  }