@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700&family=Spartan:wght@500;700&display=swap');

.card {
    background-color: rgb(255, 255, 255);
    padding: 350px;
    border: 50px solid black;
}

.title {
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Spartan', sans-serif; */
    font-weight: 700;
    font-size: 5rem;
}

.effect7
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(209, 187, 187, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(160, 153, 153, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(196, 184, 184, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect7:before, .effect7:after
{
  content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(168, 154, 154, 0.8);
    -moz-box-shadow:0 0 20px rgba(134, 117, 117, 0.8);
    box-shadow:0 0 20px rgba(109, 100, 100, 0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect7:after
{
  right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

.subtitle {
    font-size: 2em;
    font-family: 'Spartan', sans-serif;
}

.desc {
    font-size: 1.5em;
    font-family: 'Spartan', sans-serif;
}